@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playwrite DE Grund", cursive;
  background-color: rgb(57, 48, 64);
}

h6 {
  font-size: 20px;
}

input {
  border: 2px solid #446982;
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
}

input::-webkit-color-swatch-wrapper {
  padding: 0;
}

select {
  border: 1px solid #446982;
  color: #446982;
  border-radius: 15px;
  font-size: 1.4rem;
  width: 60px;
  height: 40px;
}

img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper {
  justify-content: center;
  align-items: center;
}

.overground {
  z-index: -2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Caladea", serif;
  background-image: url("/assets/images/Game-Backgrounds-1.jpg");
  background-size: cover;
  overflow: hidden;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12rem;
}

.title {
  position: absolute;
  padding-bottom: 17rem;
  display: flex;
  font-size: 70px;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  text-shadow: 5px 5px 5px rgba(18, 16, 16, 0.54);
}

.title :first-child {
  color: rgb(244, 34, 34);
}
.title :last-child {
  color: rgb(2, 177, 215);
}

.box {
  position: absolute;
  top: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.arrow {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #000;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.ground {
  z-index: -1;
  background-image: linear-gradient(#160805, #2b2d3e);
  height: 5rem;
}

.underground {
  position: relative;
  z-index: 3;
  background-image: url("../assets/images/underground.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.canvas-container {
  width: 80%;
  margin-top: 12rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.character-container {
  display: flex;
  flex-direction: row;
  background-color: #2c2e3d59;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.controls {
  height: 8rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.controls > div {
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#headEmoji1 {
  background-color: rgb(120, 18, 18);
}
#headEmoji2 {
  background-color: rgb(23, 23, 105);
}

.player1 {
  position: absolute;
}
.player2 {
  position: absolute;
}

.btn-start {
  z-index: 2;
  position: absolute;
  transform: scale(10%);
  background-color: #898079;
  color: white;
  font-size: 2rem;
  padding: 2rem 4rem;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 0px 100px 20px #282b3e;
}

.btn-start:hover {
  background-color: #988d85;
  scale: 105%;
  cursor: pointer;
}

.btn-start:active {
  background-color: #6b645f;
  scale: 95%;
}
